@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #425B5A;
}
/*Navbar*/
.header{
    display: flex;
    justify-content: space-around;
    position:absolute;
    top : 0;
    right : 0;
    
}
.navbar{
    background-color: #F5E0B7;
    border-bottom-left-radius:  7px 7px;
     display: flex;
    flex-direction: row;
justify-content: space-around;
text-decoration: none;
list-style-type: none;
    width: 600px;
    height: 80px;
    align-items: center;
    font-size: 1.8em;
    margin: 0;
    box-shadow: 10px 5px 5px rgb(56, 53, 53);    
}
.navbar a{
    color: #425B5A;
    background-color: transparent;
    text-decoration: none;
}
/*Logo*/
.logo{
    width: 400px;
    height: 150px;
    position: absolute;
    left: 0;
    top : 100;
    z-index: 0;

}
/*picture*/
.picture{
    position: absolute;
    top: 150px;
    left:0px;
    z-index: 0;
    width: 500px;

    }

    /*About*/
.about{
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: 80%;
 padding-left: 250px;
 padding-top : 150px;

}

    .title{
        color: #F5E0B7;

    }
    .title h1{
        font-size: 60px;
    }

    .title h2{
        font-size: 36px;
    }

    .title span{
        text-shadow: 10px 5px 5px rgb(56, 53, 53);    
   
    }
    .subtitle{
        color: #F5E0B7;
        text-align:justify;

    }

    .subtitle h3{
        font-size: 24px;
    }

    .subtitle p{
        font-size: 24px;
    }