
*{
    color: #2d2e32;
}
.projectsContainer{
    width: 90vw;
    height: 800px;
    margin-top : 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.projectsContainer h3{
    font-size:  1.4rem;
}

.projectsBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

}

/*projets 1et2*/
.project{
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 350px;
    border-radius: 5px;
    position: relative;
    height: auto;
 
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(164, 139, 139, 0.641);
    transition: 0.5s ease;
    height: 0;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;

}

.overlay p{
    color: #2d2e32;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    
}
.project img{
   width: 350px;
   height: 500px;
   border-radius: 5px;
   margin: 0;
   padding: 0;
}

.project:hover .overlay{
    height: 100%;
    }
    



/*projet 3*/
.project3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    border-radius: 5px;
    position: relative;
    height: auto;
}
.project3 img{
   width: 600px;
   height: 500px;
   border-radius: 5px;
   box-shadow: 8px 5px 5px rgb(173, 171, 171);    

}

    .project3 p{
        position: absolute;
        bottom: 0px;
        background : black;
        color: white;
        transition: 0.5s linear;
        opacity: 0;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }
    .project3:hover p{
    opacity: 1;
    }